<!DOCTYPE html>
<html>
  <head>
    <title>ElectroCycle</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav class="custom-navbar">
    <div class="container">
      <a class="navbar-brand">ElectroCycle</a>
      <ul class="navbar-menu">
        <li><a href="/">Home</a></li>
        <li><a href="/test_ride/new">Test Ride</a></li>
        <li>
          <a href="#">Shop</a>
          <ul class="dropdown-menu">
            <li><a href="#">All Products</a></li>
            <li><a href="#">Popular Items</a></li>
            <li><a href="#">New Arrivals</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <header class="header-bg">
    <div class="header-container">
      <div class="header-content">
        <h1 class="header-title">ElectroCycle</h1>
      </div>
    </div>
  </header>
    <%= yield %>
    <footer class="footer-bg">
    <div class="footer-container">
      <p class="footer-text">Copyright &copy; ElectroCycle 2023</p>
    </div>
  </footer>
  </body>
</html>
